body{
    background: cadetblue;
}
input{
    text-align: center;
    padding: 18px;
    margin-top: 18px;
}
header{
    text-align: center;
    justify-items: center;
}
section{
    text-align: center;
}
h1{
    color: rgb(49, 0, 0);
}
